@media(max-width: 1230px){
    body, html{
        font-size: 1.2em;
    }
    .check_icon{
        width: 5%;
        height: auto;
        padding-right: 3%;
    }
    .container{
        width: 80%;
    } 
    ul{
        padding-left: 0;
    }
    li{
        width: 100%;
    }
    a{
        color: #234344;
    }
    .dark_a{
        color: rgb(206, 205, 255);
    }
    .media{
        flex-direction: column;
        align-items: center;
    }
    iframe{
        min-width: 100%;
        min-height: auto;
    }
    #git_link{
        width: 72%;
        height: auto;
    }
    #div_bordered{
        font-size: 0.8em;
    }
    .dark{
        background-color: #445162;
    }
    #lecture_img{
        width: 100%;
    }
}
@media(max-width: 720px){
    html{
        min-width: 100%;
    }
}

@media(max-width: 400px){

    body, html{
        width: 100%;
        font-size: 1.1em;
    }
    .check_icon{
        width: 7%;
    }
    .media{
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    iframe,#git_link{
        margin-left: 0;
        width: 72%;
        height: auto;
    }
    #lecture_img{
        min-width: 200px;
    }
}